//$color-background:#3c07cf;
$color-background:#f0f0f0;
$color-background-tape:#f0f0f0;
$color-background-sub:#ffffff;
$color-text:hsl(0, 0%, 29%);

$color-primary:#ee4035;
$color-secondary:#ebc46f;
$color-tab-default:#ffffff;
$color-tab-active:#008bfc;

$color-font-defalt:#4A4A4A;
$color-font-active:#008bfc;

// dividers
$color-divider:1px solid #eee;
$color-divider2:1px solid #ffffff;

$font-size-small:12px;
$font-size-medium:14px;
$font-size-large:16px;